<!DOCTYPE html>
<html>
  <header class="container">
    <h4>Brand</h4>
    <ul>
      <li><a>Linkedin</a></li>
      <li><a>Github</a></li>
    </ul>
  </header>

  <main>
    <div class="container">
      <h1>cj virtucio</h1>
      <p>web developer, book-reader, dreamer</p>
      <p>I enjoy reading and writing, most especially when that writing involves code.</p>
    </div>

    <div class="container">
      <h4>skills</h4>
      <ul>
        <li>rails</li>
        <li>ruby</li>
        <li>javascript</li>
        <li>bootstrap</li>
        <li>html</li>
        <li>css</li>
        <li>sql</li>
      </ul>
    </div>

    <div class="container">
      <h4>works</h4>
    </div>
  </main>

</html>
