<!DOCTYPE html>
<html>
  <div class="home-container">
    <header class="container">
      <h4>Brand</h4>
      <ul>
        <li><a>Linkedin</a></li>
        <li><a>Github</a></li>
      </ul>
    </header>

    <main class="container-fluid">
      <div class="row">
        <h1>cj virtucio</h1>
        <p>web developer, book-reader, dreamer</p>
      </div>

      <div class="row skills">
        <h4>skills</h4>
        <p>Rails. Bootstrap. Ruby. Javascript. HTML. CSS. Git.</p>
      </div>

      <div class="row">
        <h4>works</h4>
      </div>
    </main>
  </div>
</html>
