<!DOCTYPE html>
<html>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="container">
        <header class="masthead clearfix">
          <div class="inner">
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="#">Blog</a></li>
                <li><a href="http://www.linkedin.com/in/cjvirtucio">Linkedin</a></li>
                <li><a href="http://www.github.com/cjvirtucio87">Github</a></li>
              </ul>
            </nav>
          </div>
        </header>

        <main class="cover">
          <div class="inner">
            <h1>cj virtucio</h1>
            <p>web developer, book-reader, dreamer</p>
            <p class="lead">My name is CJ Virtucio, a California-based web developer.
              I build on Ruby on Rails and am proficient in Ruby as well
              as Javascript. Becoming a developer in the Bay Area is a dream
              come true for me, and I would love nothing more than to fully
              immerse myself within the developer community!</p>
            <p class="lead">I enjoy reading, writing, scouring the Bay for its hidden
              wonders, and of course, programming!</p>
          </div>
        </main>
      </div>
    </div>
  </div>
</html>
