<!DOCTYPE html>
<html>
  <div class="home-container">
    <header class="container">
      <h4>Brand</h4>
      <ul>
        <li><a>Linkedin</a></li>
        <li><a>Github</a></li>
      </ul>
    </header>

    <main class="container">
      <div class="row">
        <h1>cj virtucio</h1>
        <p>web developer, book-reader, dreamer</p>
        <p>My name is CJ Virtucio, a California-based web developer.
          I build on Ruby on Rails and am proficient in Ruby as well
          as Javascript. Becoming a developer in the Bay Area is a dream
          come true for me and would love nothing more than to fully
          immerse myself within the developer community!</p>
      </div>
    </main>
  </div>
</html>
